<!-- Hero -->
<div class="row">
	<div class="main-hero text-center">
		<h2>The Best Viking Gear on the Whole Web!</h2>
	</div>
</div>
<!-- /Hero -->

<div class="col-sm-12">
	<h2><%= session[:cart] %></h2>
</div>

<!-- Filter by Category -->
<div class="row category-filter">
	<div class="col-sm-3 pull-right">
		<form class="form-inline" method="GET">
			<div class="form-group">
				<!--List of all categories-->
				<%= collection_select(:category, :name, Category.all, :id, :name, { prompt: true }, { name: "filter_category", class: "form-control" }) %>
				<!-- Submit Button -->
				<input type="submit" value="Filter" class="form-control btn btn-primary" %>
			</div>
		</form>
	</div>
</div>
<!-- /Filter by Category -->

<!-- Main Product Display -->
<main class="row">
	<% @products.each do |product| %>
		<article class="col-sm-4 text-center product-item">
			
			<div class="product-title col-sm-12">
				<p><%= link_to product.name, "#" %></p>
			</div>

			<div class="product-image">
				
				<div class="product-price">
					<span><%= number_to_currency(product.price) %></span>
				</div>

				<img src="http://placehold.it/400x250">
			</div>

			<div class="product-footer">
				<%= link_to "Add to Cart", dashboard_index_path(:add_product => product.id), class: "btn btn-info" %>
			</div>

		</article>
	<% end %>
</main>
<!-- /Main Product Display -->

<!-- DISPLAY PAGINATION -->
<div class="row">
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<%= will_paginate @products %>
	</div>
</div>
<!-- /DISPLAY PAGINATION -->