<!--- Navbar -->
<nav class="row">
	<div class="col-sm-12">
		
		<div class="col-sm-6 nav-viking-logo">
			<h2>Viking Store</h2>
		</div>
		
		<div class="col-sm-6 nav-right">
				<div class="link-wrapper">
					<%= link_to "Your Cart", "#" %><br>
					<%= link_to "Sign In", "#" %>
				</div>
		</div>

	</div>
</nav>
<!-- /Navbar -->

<!-- Hero -->
<div class="row">
	<div class="main-hero text-center">
		<h2>The Best Viking Gear on the Whole Web!</h2>
	</div>
</div>
<!-- /Hero -->

<!-- Filter by Category -->
<div class="row category-filter">
	<div class="col-sm-3 pull-right">
		<form class="form-inline" method="GET">
			<div class="form-group">
				<!--List of all categories-->
				<%= collection_select(:category, :name, Category.all, :id, :name, { prompt: true }, { name: "filter_category", class: "form-control" }) %>
				<!-- Submit Button -->
				<input type="submit" value="Filter" class="form-control btn btn-primary" %>
			</div>
		</form>
	</div>
</div>
<!-- /Filter by Category -->

<!-- Main Product Display -->
<main class="row">
	<% @products.each do |product| %>
		<article class="col-sm-4 text-center product-item">
			
			<div class="product-title col-sm-12">
				<p><%= link_to product.name, "#" %></p>
			</div>

			<div class="product-image">
				
				<div class="product-price">
					<span>$400</span>
				</div>

				<img src="http://placehold.it/396x250">
			</div>

			<div class="product-footer">
				<%= link_to "Add to Cart", "#", class: "btn btn-info" %>
			</div>

		</article>
	<% end %>
</main>
<!-- /Main Product Display -->

<!-- DISPLAY PAGINATION -->
<div class="row">
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<%= will_paginate @products %>
	</div>
</div>
<!-- /DISPLAY PAGINATION -->

<!-- Footer -->
<footer class="row">
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<h4>CONTACT</h4>
		<ul>
			<li>1-800-955-1022</li>
			<li>contact@vikingstore.com</li>
		</ul>
	</div>

	<div class="col-sm-4 footer-right">
		<%= link_to "Admin Login", admin_path %>
	</div>
</footer>
<!-- /Footer -->