<!-- User Login Form -->
<div class="row">
	<h2 class="text-center">Sign Up or Sign In</h2>
	
	<div class="col-sm-4 col-sm-offset-1">
		<h3>I do NOT have an Account</h3>
		<%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
	</div>

	<div class="col-sm-4 col-sm-offset-2">
		<h3>I have an account...</h3>

		<%= form_tag(session_path, {class: "form-inline"}) do %>
			
			<div class="form-group">
				<%= label_tag :email, "Email:"  %>
				<%= text_field_tag :email, nil,  class: "form-control"  %>
			</div>
			
			<div class="form-group">
				<%= submit_tag "Login", class: "btn btn-primary" %>	
			</div>

		<% end %>

	</div>
</div>