<navbar class="col-sm-2 grey-border">
	<p class="text-center"><b>Navigation Options</b></p>

	<ul class="navbar-main text-center">
		<li><%= link_to "Users", admin_users_path %></li>
		<li><%= link_to "Addresses", admin_addresses_path %></li>
		<li><%= link_to "Orders", admin_orders_path %></li>
		<li><%= link_to "Products", admin_products_path %></li>
		<li><%= link_to "Categories", admin_categories_path %></li>
	</ul>

	<ul class="under-navbar text-center">
		<li><%= link_to "Analytics Dashboard", "#" %></li>
	</ul>
	
</navbar>