<div class="row">
	<div class="col-sm-12">
		<h2>Create New User:</h2>
		<h4><b>NOTE:</b> You'll be able to set your default shipping/billing address once your user is created</h4>

		<%= form_for user ||= User.new , :url => user_path do |f| %>
			<% @addresses.each_with_index do |address, index| %>
			
				<%= render partial: "user_address_form", locals: { user: user, address: address, index: index, user: user, user_form: f } %>
			
			<% end %>
			
			<h3>User Info:</h3>

			<div class="col-sm-6">
				<div class="form-group">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :first_name, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :last_name, "Last Name" %>
					<%= f.text_field :last_name, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :email, "Email" %>
					<%= f.text_field :email, class: "form-control" %>
				</div>
				
				<div class="form-group">
					<%= f.submit "Sign Up", class: "form-control btn btn-primary" %>
				</div>
			</div>

		<% end %>

	</div>	
</div>
